<section class="two-way-binding">
  <article>
    <h3>two-way data binding</h3>
    
    <input type="text" 
    [value] = "nome" 
    (input) = "nome = $event.target.value"
    />
    
 
    <h3>Forma Simplificado do two-way-binding</h3>
    <input type="text" 
    [(ngModel)]="nome"
    />



    <p>Voce digitou: {{ nome}}</p>


    <div>
      <h1>Two-way data-binding with objects</h1>
      <input type="text" [(ngModel)]="pessoa.nome "/>
      <input type="text" [(ngModel)]="pessoa.idade "/>
      <input type="text" [(ngModel)]="pessoa.endereco.rua "/>

      <p>Meu nome é: {{pessoa.nome}} e tenho {{pessoa.idade}} anos de idade.</p>

    </div>
    
    <section class="input-outuput-properties">

      <article>
        <h3>Input/Output Properties</h3>

        <app-curso [nome]="nomeDoCurso"></app-curso>

      </article>


    </section>